<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p class="control">
        {{input value=pluginNameFilter placeholder="Filter by plugin name..."}}
      </p>
    </div>
    <div class="level-item">
      <p class="control">
        <label class="checkbox">
          {{input type="checkbox" checked=groupByPluginName}}
          Group by Plugin Name
        </label>
      </p>
    </div>
  </div>
  <div class="level-right">
    <p class="control">
      <button class="button" {{action (action (mut pluginNameFilter) '')}}>Clear</button>
    </p>
  </div>
</div>

<table class="table is-striped">
  <thead>
    <tr>
      <td style="width: 65%">Description</td>
      <td>{{if groupByPluginName "Count" "Plugin Name"}}</td>
      <td>Time (ms)</td>
    </tr>
  </thead>
  <tbody>
    {{#each nodes as |node|}}
      <tr class="table-row" {{action 'toggleDetailsForNode' node}}>
        <td>{{node.label.name}}</td>
        <td>{{node.label.broccoliPluginName}}</td>
        <td>{{ns-to-ms node._stats.time.plugin}}</td>
      </tr>
      {{#if node.showDetails}}
        <tr>
          <td colspan="3">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Node Stats
                </p>
              </header>

              <div class="card-content">
                {{#each-in (stats-iterator node) as |stat value|}}
                  <div>
                    <strong>{{stat}}</strong>:
                    {{#if (includes stat 'time')}}
                      {{ns-to-ms value}}ms
                    {{else}}
                      {{value}}
                    {{/if}}
                  </div>
                {{/each-in}}
              </div>

              <div class="card-footer">
                <a class="card-footer-item" {{action 'focus-node' node}}>Show Graph</a>
              </div>
            </div>
          </td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan=2 class="has-text-right">Total</td>
      <td>{{ns-to-ms totalTime}}</td>
    </tr>
  </tfoot>
</table>