{{input value=pluginNameFilter placeholder="Filter by plugin name..."}}
<label>Group by Plugin Name{{input type="checkbox" checked=groupByPluginName}}</label>
<button {{action (action (mut pluginNameFilter) '')}}>Clear</button>

<table>
  <thead>
    <tr>
      <td>Annotation</td>
      <td>Additional Details</td>
      <td>Time</td>
    </tr>
  </thead>
  <tbody>
    {{#each nodes as |node|}}
      <tr>
        <td>{{node.label.name}}</td>
        <td>{{node.label.broccoliPluginName}}</td>
        <td>{{ns-to-ms node.time}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div>
  Total: {{ns-to-ms totalTime}}
</div>