<select onchange={{action 'updateFilter'}}>
  <option value="addon-discovery">Show Addon Discovery</option>
  <option value="addon-initialization">Show Addon Initialization</option>
  <option selected value="broccoli-node">Show Broccoli Nodes</option>
</select>

{{#if (eq filterType 'broccoli-node')}}
  {{input value=pluginNameFilter placeholder="Filter by plugin name..."}}
  <label>Group by Plugin Name{{input type="checkbox" checked=groupByPluginName}}</label>
  <button {{action (action (mut pluginNameFilter) '')}}>Clear</button>
{{/if}}


<table>
  <thead>
    <tr>
      <td>Annotation</td>
      <td>Additional Details</td>
      <td>Time</td>
    </tr>
  </thead>
  <tbody>
    {{#each nodes as |node|}}
      <tr>
        <td>{{node.label.name}}</td>
        <td>{{node.label.broccoliPluginName}}</td>
        <td>{{ns-to-ms node.stats.time.self}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div>
  Total: {{ns-to-ms totalTime}}
</div>