{{input value=pluginNameFilter placeholder="Filter by plugin name..."}}
<label>Group by Plugin Name{{input type="checkbox" checked=groupByPluginName}}</label>
<button {{action (action (mut pluginNameFilter) '')}}>Clear</button>

<table>
  <thead>
    <tr>
      <td>Description</td>
      <td>{{if groupByPluginName "Count" "Plugin Name"}}</td>
      <td>Time (ms)</td>
    </tr>
  </thead>
  <tbody>
    {{#each nodes as |node|}}
      <tr onclick={{action 'focus-node' node}}>
        <td>{{node.label.name}}</td>
        <td>{{node.label.broccoliPluginName}}</td>
        <td>{{ns-to-ms node._stats.time.plugin}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div>
  Total: {{ns-to-ms totalTime}}
</div>