<section class="global-nav hero is-light">
  <nav class="nav">
    <div class="nav-left">
      {{link-to "Nodes" "slow-nodes" class="nav-item is-tab" activeClass="is-active"}}
      {{link-to "Flame" "flame" class="nav-item is-tab" activeClass="is-active"}}
    </div>

    <div class="nav-center">
      <p class="nav-item title">
        Heimdall Visualizer
      </p>
    </div>

    <div class="nav-right">
      {{#if (not graph.data)}}
        <a href="#" class="nav-item" {{action (action (mut showUploadModal) true)}}>
          Upload Data
        </a>
      {{else}}
        <a href="#" class="nav-item" {{action "clearData"}}>
          Clear Data
        </a>
      {{/if}}

      <a class="nav-item" href="https://github.com/rwjblue/heimdalljs-visualizer">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>
    </div>
  </nav>
</section>

<div class="modal {{if showUploadModal "is-active"}}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <form>
        <div class="control is-grouped">
          <label class="label">Upload the output of <code>BROCCOLI_VIZ=1 ember build</code>:</label>
          <p class="control">
            <input name="file-upload" type="file" onchange={{action "parseFile"}}>
          </p>
        </div>
        <div class="control is-grouped">
          <label class="label">Sample File:</label>
          <p class="control">
            <span class="select is-small">
              <select onchange={{action "useSample" value="target.value"}}>
                <option selected disabled>Choose sample file</option>
                <option value="./broccoli-viz-files/initial-build-canary-ember-cli-20170206.json">Empty Project - 2017-02-06</option>
                <option value="./broccoli-viz-files/ghost-initial-build-canary-ember-cli-20170206.json">Ghost Admin Client - 2017-02-06</option>
              </select>
            </span>
          </p>
        </div>
      </form>
    </div>
  </div>
  <button class="modal-close" {{action (action (mut showUploadModal) false)}}></button>
</div>

{{#if graph.data}}
  {{outlet}}
{{else}}
  <section class="upload-data-banner hero is-fullheight is-light">
    <div class="hero-body">
      <div class="container has-text-centered">
        <a href="#" {{action (action (mut showUploadModal) true)}}>
          <h1 class="title">
            <i class="fa fa-exclamation-triangle"></i>
          </h1>
          <h2 class="subtitle">
            Run <code>BROCCOLI_VIZ=1 ember build</code> and please upload data to begin your analysis.
          </h2>
        </a>
      </div>
    </div>
  </section>
{{/if}}
