<section class="hero is-light">
  <nav class="nav">
    <div class="nav-left">
      {{link-to 'Home' 'index' class="nav-item is-tab" activeClass="is-active"}}
      {{link-to 'Slow Nodes' 'slow-nodes' class="nav-item is-tab" activeClass="is-active"}}
      <a class="nav-item" {{action (action (mut showUploadModal) true)}}>
        Select Data
      </a>
    </div>
    <div class="nav-center">
      <p class="nav-item title">
        Heimdall Visualizer
      </p>
    </div>
    <div class="nav-right">
      <a class="nav-item" href="https://github.com/rwjblue/heimdalljs-visualizer">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>
    </div>
  </nav>
</section>

<div class="modal {{if showUploadModal 'is-active'}}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
    <form>
      <div class="control is-grouped">
        <label class="label">Upload the output of <code>BROCCOLI_VIZ=1 ember build</code>:</label>
        <p class="control">
          <input name="file-upload" type="file" onchange={{action 'parseFile'}}>
        </p>
      </div>
      <div class="control is-grouped">
        <label class="label">Sample File:</label>
        <p class="control">
          <span class="select is-small">
            <select onchange={{action 'useSample' value="target.value"}}>
              <option selected disabled>Choose sample file</option>
              <option value="./broccoli-viz-files/initial-build-canary-ember-cli-20170206.json">Empty Project - 2017-02-06</option>
              <option value="./broccoli-viz-files/ghost-initial-build-canary-ember-cli-20170206.json">Ghost Admin Client - 2017-02-06</option>
            </select>
          </span>
        </p>
      </div>
    </form>
    </div>
  </div>
  <button class="modal-close" {{action (action (mut showUploadModal) false)}}></button>
</div>

{{outlet}}
